# Node
node_modules/

# Build outputs
dist/
build/
coverage/

# Environment files
.env
.env.*

# OS files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories
.idea/
.vscode/

# Misc caches
.cache/
.parcel-cache/
.turbo/

# Typical frontend
.next/
public/build/

# Prisma generated client
.prisma/
